# Folder editor
.vscode/
.idea/

# Git repo metadata
.git/

# OS trash files
.DS_Store
Thumbs.db

# Cache & log
*.log
*.tmp

# Node modules (kalau pakai Node.js)
node_modules/

# Kalau vendor MAU DI-INCLUDE, JANGAN DI-IGNORE.
# Kalau vendor mau di-install di Docker, baru di-ignore.
# /vendor/

# Kalau ENV MAU DI-INCLUDE, JANGAN DI-IGNORE.
# Kalau pakai secrets di Zeabur, boleh di-ignore.
# .env
